
div.floating-menu {
  position: fixed;
  z-index: 999;
  top: 10px;
  left: 0;
  display: block;
  box-sizing: content-box;
  padding: .4rem .4rem .4rem 15px;
  .open, .close { width: 1.8rem; height: 1.8rem; }
  .btn{
    display: block;
    position: relative;
    top: 36%;
    width: 100%;
    height: 22%;
    box-shadow: 0 0 0 1px $acc-color inset;
    overflow: visible;
    cursor: pointer;
    &:before{
      content: "";
      display: block;
      box-sizing: border-box;
      overflow: hidden;
      position: absolute;
      top: -164%;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0 1px $acc-color inset;
    }
    &:after{
      content: "";
      display: block;
      box-sizing: border-box;
      overflow: hidden;
      position: absolute;
      top: 164%;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0 1px $acc-color inset;
    }
  }
  span { 
    display: none;
    cursor: pointer;
  }
  &.colored {
    background-color: $acc-color;
    opacity: .9;
    .btn, .btn:before, .btn:after {
      background-color: white;
    }
  }
  &.expand {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba($acc-color, .9), rgba($prime-color, .9));
    color: white;
    opacity: 1;
    span {
      display: inline-block;
      font-size: 2em;
      &.close {
        position: absolute;
        top: 15px;
        left: 15px;
      }
      &.page-link {
        margin-bottom: 2rem;
        text-align: center;
      }
    }
    .btn, .btn:before, .btn:after { background-color: white; }
    .open { display: none; }
    animation: bounce-in .5s;
  }
  transition: position .5s, background-color .5s;
}