$primary-text-color: black;
$primary-background: #4285f4;
$primary-link: #333;
$text-accent: #4285f4;
$header-color: #fff;
$footer-color: #ccc;
$primary-btn: #999;
$primary-border-color: #aaa;

a {
  color: $primary-link;
}