
.bg-cover {
  z-index: 101;
  background-size: cover;
  background-position: center center;
}

.story {
  flex-direction: column;
  z-index: 100;
  padding: 1rem .5rem 1.5rem;
  margin: 0 auto;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}