@import url('https://fonts.googleapis.com/css?family=Merriweather');

@import 'setting';
@import 'reset';
@import 'mixins';
@import 'typography';
@import 'main-container';
@import 'story';
@import 'tabs';
@import 'gallery';
@import 'floating-menu';

.sticky-bottom {
  position: sticky;
  z-index: 101;
  bottom: 0;
}

.inset-border {
  &:before, &:after {
    content: " ";
    position: fixed;
    z-index: 199;
    left: 5px;
    right: 5px;
    border-top: 1px solid $prime-border;
  }
  &:before { top: 5px; }
  &:after { bottom: 5px; }
  .left-border, .right-border {
    position: fixed;
    z-index: 199;
    top: 5px;
    bottom: 5px;
    border-left: 1px solid $prime-border;
  }
  .left-border { left: 5px; }
  .right-border { right: 5px; }
}

footer {
  margin: 1.5rem 10px 15px;
}

[class*='fade-'] { 
  position: fixed;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 5px;
  background-color: $prime-bg;
  box-shadow: 0 0 10px 5px $prime-bg;
  &[class*='-in'] { bottom: 0; padding-bottom: 0; }
  &[class*='-out'] { top: 0;  }
}

.unfaded {
  z-index: 100;
}

.logo {
  margin-bottom: .5rem;
  h1,h2,h3,h4 {
    display: block;
    width: 100%;
    line-height: 1.26em;
    text-align: center;
  }
}

[class*='gold-v'] { overflow: hidden; }

.gold-v-13 { height: 62vh; }
.gold-v-2 { height: 9.5vh; }
.gold-v-1 { height: 4.7vh; }

.align-bottom {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}

.align-center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.highlight {
  position: relative;
  z-index: 101;
  padding: .1rem .3rem .3rem; 
  line-height: 1.5rem;
  span{ 
    background-color: $prime-bg;
    outline: .3rem solid $prime-bg;
  }
}

.up-3-lines { margin-top: -3em; }

.info {
  p { 
    margin-bottom: .8rem;
    padding: 0 2rem;
    width: 100%;
  }
  strong { font-weight: bold; }
  &.centered { text-align: center; }
}

.section-title {
  width: 100%;
  margin: 2rem 0 1rem;
  color: $acc-color;
  font-size: 1rem;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

a[class*="btn-"] {
  display: inline-block;
  padding: .4rem .5rem .5rem;
  margin: 0 .5rem 0;
  text-decoration: none;
  &[class*="-line"] {
    margin: 8px;
    border-radius: 4px;
    border: 1px solid $prime-border;
  }
}

.hide { 
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}
